@model Plantation.Models.DB.Bank

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Head{
    <!-- Plugins -->
    <link rel="stylesheet" href="~/assets/examples/css/layouts/panel-transition.css">
    <link href="~/global/vendor/select2/select2.css" rel="stylesheet" />
    <!-- Fonts -->
    <link rel="stylesheet" href="~/global/fonts/font-awesome/font-awesome.css">
    <style>
        .form-group.required .control-label:after {
            content: "*";
            color: red;
        }
    </style>
}

<div class="page">
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Bank")">Bank</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </div>
    <div class="page-content">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title">EDIT BANK</h3>
                <div class="panel-actions">
                    <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm("Edit", "Bank", FormMethod.Post))
                    {
                    <div class="col-xs-12 col-lg-6">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.SID)
                        <div class="form-group required">
                            <label class="col-sm-4 control-label">ID BANK</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.IDBANK, new { @readonly = true, @class = "form-control form-control-sm", placeholder = "ID Bank", tabindex = "1" })
                                @Html.ValidationMessageFor(model => model.IDBANK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group required">
                            <label class="col-sm-4 control-label">Bank Name</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.BANKNAME, new { @class = "form-control form-control-sm", placeholder = "Bank Name", tabindex = "1" })
                                @Html.ValidationMessageFor(model => model.BANKNAME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group required">
                            <label class="col-sm-4 control-label">Account</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.BANKACCOUNTCODE, new { @class = "form-control form-control-sm", placeholder = "Account", tabindex = "2" })
                                @Html.ValidationMessageFor(model => model.BANKACCOUNTCODE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group required">
                            <label class="col-sm-4 control-label">Address</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.ADDRESS, new { @class = "form-control form-control-sm", placeholder = "Address", tabindex = "3" })
                                @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Is Active ?</label>
                            <div class="col-md-8">
                                @Html.CheckBoxFor(x => x.ISACTIVE, new { @class = "checkbox-custom", tabindex = "4" })
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group required">
                            <label class="col-sm-2 control-label">Country</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => x.COUNTRY, Model.GetSelectListCountry, new { @class = "form-control form-control-sm", tabindex = "6" })
                                @Html.ValidationMessageFor(model => model.COUNTRY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group required">
                            <label class="col-sm-2 control-label">Province</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => x.PROVINCE, Model.GetSelectListProvince, new { @class = "form-control form-control-sm", tabindex = "7" })
                                @Html.ValidationMessageFor(model => model.PROVINCE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group required">
                            <label class="col-sm-2 control-label">City</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => x.CITY, Model.GetSelectListCity, new { @class = "form-control form-control-sm", tabindex = "8" })
                                @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phone</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.PHONE, new { @class = "form-control form-control-sm", placeholder = "Phone", tabindex = "9" })
                            </div>
                            <label class="col-sm-2 control-label">Fax</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.FAX, new { @class = "form-control form-control-sm", placeholder = "Fax", tabindex = "10" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group required">
                            <label class="col-sm-2 control-label">Currency</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => x.CURRENCY, Model.GetSelectListCurrencyMaster, new { @class = "form-control form-control-sm", tabindex = "11" })
                                @Html.ValidationMessageFor(model => model.CURRENCY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary"><i class="icon fa-save" aria-hidden="true"></i> Save</button>
                                <button type="button" class="btn btn-default waves-effect" onclick="location.href='@Url.Action("Index", "Bank")';return false;"><i class="icon fa-remove" aria-hidden="true"></i> Cancel</button>
                            </div>
                        </div>
                    </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section Footer1{
    <!-- Plugins -->
    <script src="~/global/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
    <script src="~/global/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/global/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/global/vendor/datatables-tabletools/dataTables.tableTools.js"></script>
    <script src="~/global/vendor/asrange/jquery-asRange.min.js"></script>
    <script src="~/global/vendor/bootbox/bootbox.js"></script>
    <script src="~/global/vendor/select2/select2.full.min.js"></script>
    <script type="text/javascript">

        $("#COUNTRY").change(function () {
            var countryid = $('#COUNTRY').val() === "" ? 0 : $('#COUNTRY').val();
            console.info(countryid);
            $.getJSON('@Url.Action("GetProvinceByCountry", "Bank")', { Country: countryid }, function (json) {
                $('#PROVINCE').empty();
                $('#PROVINCE').append($('<option>').text("--Select Province--").attr('value', ''));
                $.each(json, function (i, obj) {
                    $('#PROVINCE').append($('<option>').text(obj.PROVINCENAME).attr('value', obj.SID));
                });

                $('#PROVINCE').change();
            });
        })

        $("#PROVINCE").change(function () {
            var provinceid = $('#PROVINCE').val() === "" ? 0 : $('#PROVINCE').val();
            $.getJSON('@Url.Action("GetCityByProvince", "Bank")', { Province: provinceid }, function (json) {
                $('#CITY').empty();
                $('#CITY').append($('<option>').text("--Select City--").attr('value', ''));
                $.each(json, function (i, obj) {
                    $('#CITY').append($('<option>').text(obj.CITYNAME).attr('value', obj.SID));
                });
            });
        })
    </script>
    <script>
        $("#COUNTRY").select2({ allowClear: true });
        $("#PROVINCE").select2({ allowClear: true });
        $("#CITY").select2({ allowClear: true });
        $("#CURRENCY").select2({ allowClear: true });
    </script>
}

@section Footer2{
    <!-- Page -->
    <script src="~/global/js/Plugin/animate-list.js"></script>
    <script src="~/global/js/Plugin/panel.js"></script>
    <script src="~/assets/examples/js/layouts/panel-transition.js"></script>
    <script src="~/global/js/Plugin/datatables.js"></script>
    <script src="~/scripts/js/Master/Bank.js"></script>
    <script src="~/assets/examples/js/uikit/icon.js"></script>
    <script src="~/global/js/Plugin/select2.js"></script>
}