
@{
    ViewBag.Title = "Bank";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Head{
    <!-- Plugins -->
    <link rel="stylesheet" href="~/global/vendor/datatables-bootstrap/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css">
    <link rel="stylesheet" href="~/global/vendor/datatables-responsive/dataTables.responsive.css">
    <link rel="stylesheet" href="~/assets/examples/css/tables/datatable.css">
    <link rel="stylesheet" href="~/assets/examples/css/layouts/panel-transition.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="~/global/fonts/font-awesome/font-awesome.css">
}


<div class="page">
    <div class="page-content">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title">BANK MASTER</h3>
                <div class="panel-actions">
                    <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                       data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                    <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                       aria-hidden="true"></a>
                    <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                    <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
            </div>
            <div class="panel-body">
                <div style="overflow-x: scroll;">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="m-b-15">
                                <button id="addToTable" class="btn btn-primary" type="button">
                                    <i class="icon md-plus" aria-hidden="true"></i> Add Row
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover table-striped" cellspacing="0" id="exampleAddRow">
                        <thead>
                            <tr>
                                <th style="text-align:center; display:none">SID</th>
                                <th style="text-align:center;">CODE</th>
                                <th style="text-align:center;">NAME</th>
                                <th style="text-align:center;">ACCOUNT</th>
                                <th style="text-align:center;">ADDRESS</th>
                                <th style="text-align:center;">PHONE</th>
                                <th style="text-align:center;">FAX</th>
                                <th style="text-align:center;">DATE REGISTERED</th>
                                <th style="text-align:center;">CURRENCY</th>
                                <th style="display:none">#</th>
                                <th style="text-align:center;">ACTIVE</th>
                                <th style="text-align:center;">ACTIVE DATE</th>
                                <th style="text-align:center;">COUNTRY</th>
                                <th style="display:none">#</th>
                                <th style="text-align:center;">PROVINCE</th>
                                <th style="display:none">#</th>
                                <th style="text-align:center;">CITY</th>
                                <th style="display:none">#</th>
                                <th style="text-align:center;">POSCODE</th>
                                <th style="text-align:center;">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var bank in Model)
                            {
                                <tr class="gradeA">
                                    <td style="display:none" class="SID">@bank.SID</td>
                                    <td style="text-align:center;" class="IDBANK">@bank.IDBANK</td>
                                    <td class="BANKNAME">@bank.BANKNAME</td>
                                    <td class="BANKACCOUNTCODE">@bank.BANKACCOUNTCODE</td>
                                    <td class="ADDRESS">@bank.ADDRESS</td>
                                    <td class="PHONE">@bank.PHONE</td>
                                    <td class="FAX">@bank.FAX</td>
                                    <td class="DATEREGISTERED">@bank.DATEREGISTERED</td>
                                    <td>@bank.CURRENCYNAME</td>
                                    <td class="CURRENCY">@bank.CURRENCY</td>
                                    <td class="INACTIVE">@bank.INACTIVE</td>
                                    <td class="INACTIVEDATE">@bank.INACTIVEDATE</td>
                                    <td>@bank.COUNTRYNAME</td>
                                    <td class="COUNTRY" style="display:none">@bank.COUNTRY</td>
                                    <td>@bank.PROVINCENAME</td>
                                    <td class="PROVINCE" style="display:none">@bank.PROVINCE</td>
                                    <td>@bank.CITYNAME</td>
                                    <td class="CITY" style="display:none">@bank.CITY</td>
                                    <td class="POSCODE">@bank.POSCODE</td>
                                    <td style="text-align:center;" class="actions">
                                        <a href="#" type="button" class="btn btn-sm btn-icon btn-pure btn-default on-editing save-row"
                                           data-toggle="tooltip" data-original-title="Save" hidden><i class="icon md-check-all" aria-hidden="true"></i></a>
                                        <a href="#" type="button" class="btn btn-sm btn-icon btn-pure btn-default on-editing cancel-row"
                                           data-toggle="tooltip" data-original-title="Delete" hidden><i class="icon md-close" aria-hidden="true"></i></a>
                                        <a href="#" type="button" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"
                                           data-toggle="tooltip" data-original-title="Edit"><i class="icon md-edit" aria-hidden="true"></i></a>
                                        <a href="#" type="button" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row"
                                           data-toggle="tooltip" data-original-title="Remove"><i class="icon md-delete" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Panel Table Add Ro -->

@section Footer1{
    <!-- Plugins -->
    <script src="~/global/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
    <script src="~/global/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/global/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/global/vendor/datatables-tabletools/dataTables.tableTools.js"></script>
    <script src="~/global/vendor/asrange/jquery-asRange.min.js"></script>
    <script src="~/global/vendor/bootbox/bootbox.js"></script>
}

@section Footer2{
    <!-- Page -->
    <script src="~/global/js/Plugin/animate-list.js"></script>
    <script src="~/global/js/Plugin/panel.js"></script>
    <script src="~/assets/examples/js/layouts/panel-transition.js"></script>
    <script src="~/global/js/Plugin/datatables.js"></script>
    <script src="~/scripts/js/Master/Bank.js"></script>
    <script src="~/assets/examples/js/uikit/icon.js"></script>
}