
@{
    ViewBag.Title = "Control Job";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Head{
    <!-- Plugins -->
    <link rel="stylesheet" href="~/global/vendor/datatables-bootstrap/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css">
    <link rel="stylesheet" href="~/global/vendor/datatables-responsive/dataTables.responsive.css">
    <link rel="stylesheet" href="~/assets/examples/css/tables/datatable.css">
    <link rel="stylesheet" href="~/assets/examples/css/layouts/panel-transition.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="~/global/fonts/font-awesome/font-awesome.css">
}


<div class="page">
    <div class="page-content">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title">CONTROL JOB</h3>
                <div class="panel-actions">
                    <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                       data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                    <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                       aria-hidden="true"></a>
                    <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                    <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
                </div>
            </div>
            <div class="panel-body">
                <div style="overflow-x: scroll;">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="m-b-15">
                                <button id="addToTable" class="btn btn-primary" type="button">
                                    <i class="icon md-plus" aria-hidden="true"></i> Add Row
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover table-striped" cellspacing="0" id="exampleAddRow">
                        <thead>
                            <tr>
                                <th style="text-align:center; display:none">SID</th>
                                <th style="text-align:center;">CONTROL SYSTEM</th>
                                <th style="text-align:center;">ITEM CODE</th>
                                <th style="text-align:center;">ITEM DESCRIPTION</th>
                                <th style="text-align:center;">REMARK</th>
                                <th style="text-align:center;">ACTIVE</th>
                                <th style="text-align:center;">ACTIVE DATE</th>
                                <th style="text-align:center;">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ControlJob in Model)
                            {
                                <tr class="gradeA">
                                    <td style="display:none" class="SID">@ControlJob.SID</td>
                                    <td style="text-align:center;" class="CONTROLSYSTEM">@ControlJob.CONTROLSYSTEM</td>
                                    <td class="ITEMCODE">@ControlJob.ITEMCODE</td>
                                    <td class="ITEMDESCRIPTION">@ControlJob.ITEMDESCRIPTION</td>
                                    <td class="REMARKS">@ControlJob.REMARKS</td>
                                    <td class="ISACTIVE">@ControlJob.ISACTIVE</td>
                                    <td class="ISACTIVEDATE">@ControlJob.ISACTIVEDATE</td>
                                    <td style="text-align:center;" class="actions">
                                        <a href="#" type="button" class="btn btn-sm btn-icon btn-pure btn-default on-editing save-row"
                                           data-toggle="tooltip" data-original-title="Save" hidden><i class="icon md-check-all" aria-hidden="true"></i></a>
                                        <a href="#" type="button" class="btn btn-sm btn-icon btn-pure btn-default on-editing cancel-row"
                                           data-toggle="tooltip" data-original-title="Delete" hidden><i class="icon md-close" aria-hidden="true"></i></a>
                                        <a href="#" type="button" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"
                                           data-toggle="tooltip" data-original-title="Edit"><i class="icon md-edit" aria-hidden="true"></i></a>
                                        <a href="#" type="button" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row"
                                           data-toggle="tooltip" data-original-title="Remove"><i class="icon md-delete" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Panel Table Add Ro -->

@section Footer1{
    <!-- Plugins -->
    <script src="~/global/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
    <script src="~/global/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/global/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/global/vendor/datatables-tabletools/dataTables.tableTools.js"></script>
    <script src="~/global/vendor/asrange/jquery-asRange.min.js"></script>
    <script src="~/global/vendor/bootbox/bootbox.js"></script>
}

@section Footer2{
    <!-- Page -->
    <script src="~/global/js/Plugin/animate-list.js"></script>
    <script src="~/global/js/Plugin/panel.js"></script>
    <script src="~/assets/examples/js/layouts/panel-transition.js"></script>
    <script src="~/global/js/Plugin/datatables.js"></script>
    <script src="~/scripts/js/Master/ControlJob.js"></script>
    <script src="~/assets/examples/js/uikit/icon.js"></script>
}


