@model Plantation.Models.DB.Company

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Head{
    <!-- Plugins -->
    <link rel="stylesheet" href="~/global/vendor/datatables-bootstrap/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css">
    <link rel="stylesheet" href="~/global/vendor/datatables-responsive/dataTables.responsive.css">
    <link rel="stylesheet" href="~/assets/examples/css/tables/datatable.css">
    <link rel="stylesheet" href="~/assets/examples/css/layouts/panel-transition.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="~/global/fonts/font-awesome/font-awesome.css">
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page">
        <div class="page-content">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Company</h3>
                    <div class="panel-actions">
                        <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                           data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                        <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                           aria-hidden="true"></a>
                        <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                        <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <div class="form-group">
                                @Html.ValidationSummary(true)
                                <label class="col-sm-4 control-label">Company ID</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.IDCOMPANY, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Company ID" } })
                                    @Html.ValidationMessageFor(model => model.IDCOMPANY)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Company Name</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.COMPANYNAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Company Name" } })
                                    @Html.ValidationMessageFor(model => model.COMPANYNAME)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Address 1</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ADDRESS1, new { htmlAttributes = new { @class = "form-control", @id = "textareaDefault" } })
                                    @Html.ValidationMessageFor(model => model.ADDRESS1)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Address 2</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ADDRESS2, new { htmlAttributes = new { @class = "form-control", @id = "textareaDefault" } })
                                    @Html.ValidationMessageFor(model => model.ADDRESS2)
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Country</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.COUNTRY, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.COUNTRY)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Province</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PROVINCE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.PROVINCE)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">City</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CITY, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.CITY)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone 1</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.TELEPHONE1, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.TELEPHONE1)
                                </div>
                                <label class="col-sm-2 control-label">Phone 2</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.TELEPHONE2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.TELEPHONE2)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Fax 1</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.FAX1, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.FAX1)
                                </div>
                                <label class="col-sm-2 control-label">Fax 2</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.FAX2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.FAX2)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.EMAIL)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Website</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.WEBSITE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.WEBSITE)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Pos Code</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.POSCODE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.POSCODE)
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-info waves-effect"><i class="icon fa-save" aria-hidden="true"></i> Save</button>
                                    <button type="button" class="btn btn-warning waves-effect" onclick="location.href='@Url.Action("Index", "Company")';return false;"><i class="icon fa-remove" aria-hidden="true"></i> Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-tabs-horizontal" data-plugin="tabs">
                        <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" data-toggle="tab" href="#exampleTabsSolidOne" aria-controls="exampleTabsSolidOne" role="tab" aria-expanded="true">Company Site</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="exampleTabsSolidOne" role="tabpanel" aria-expanded="true">
                                Omnisque ius possent effici approbantibus earumque explicabo volunt. Aptissimum
                                video sola divina amputata aliquos amputata, quanti minime quisquis
                                astris depravare. Consecutus tranquilli ille meminit obruamus
                                quas. Triari verbis, aliquos ignavi.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript" charset="utf-8">
    function Redirect() {
        location.href = '~/Company/';
    }
</script>

@section Footer1{
    <!-- Plugins -->
    <script src="~/global/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
    <script src="~/global/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/global/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/global/vendor/datatables-tabletools/dataTables.tableTools.js"></script>
    <script src="~/global/vendor/asrange/jquery-asRange.min.js"></script>
    <script src="~/global/vendor/bootbox/bootbox.js"></script>
}

@section Footer2{
    <!-- Page -->
    <script src="~/global/js/Plugin/animate-list.js"></script>
    <script src="~/global/js/Plugin/panel.js"></script>
    <script src="~/assets/examples/js/layouts/panel-transition.js"></script>
    <script src="~/global/js/Plugin/datatables.js"></script>
    <script src="~/assets/examples/js/tables/datatable15.js"></script>
    <script src="~/assets/examples/js/uikit/icon.js"></script>
}