@model Plantation.Models.DB.Company
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section Head{
    <!-- Plugins -->
    <link rel="stylesheet" href="~/global/vendor/datatables-bootstrap/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css">
    <link rel="stylesheet" href="~/global/vendor/datatables-responsive/dataTables.responsive.css">
    <link rel="stylesheet" href="~/assets/examples/css/tables/datatable.css">
    <link rel="stylesheet" href="~/assets/examples/css/layouts/panel-transition.css">
    <link href="~/global/vendor/select2/select2.css" rel="stylesheet" />
    <!-- Fonts -->
    <link rel="stylesheet" href="~/global/fonts/font-awesome/font-awesome.css">
    <style>
        .form-group.required .control-label:after {
            content: "*";
            color: red;
        }
    </style>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Company")">Company</a></li>
                <li class="breadcrumb-item active">Edit - @Model.COMPANYNAME</li>
            </ol>
        </div>
        <div class="page-content">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Company</h3>
                    <div class="panel-actions">
                        <a class="panel-action icon md-refresh-alt" data-toggle="panel-refresh" data-load-type="blue-only"
                           data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                        <a class="panel-action icon md-minus" aria-expanded="true" data-toggle="panel-collapse"
                           aria-hidden="true"></a>
                        <a class="panel-action icon md-fullscreen" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                        <a class="panel-action icon md-close" data-toggle="panel-close" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @using (Html.BeginForm("Edit", "Company", FormMethod.Post))
                        {
                            <div class="col-xs-12 col-lg-6">
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.SID)
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">ID Company</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.IDCOMPANY, new { @class = "form-control form-control-sm", placeholder = "ID Company", tabindex = "1" })
                                        @Html.ValidationMessageFor(model => model.IDCOMPANY, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">Company Name</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.COMPANYNAME, new { @class = "form-control form-control-sm", placeholder = "Company Name", tabindex = "1" })
                                        @Html.ValidationMessageFor(model => model.COMPANYNAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">Address 1</label>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(x => x.ADDRESS1, new { @class = "form-control form-control-sm", placeholder = "Address 1", tabindex = "1" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">Address 2</label>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(x => x.ADDRESS2, new { @class = "form-control form-control-sm", placeholder = "Address 2", tabindex = "1" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Phone</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.TELEPHONE1, new { @class = "form-control form-control-sm", placeholder = "Phone", tabindex = "1" })
                                    </div>
                                    <label class="col-sm-1 control-label">Fax</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.FAX1, new { @class = "form-control form-control-sm", placeholder = "Fax", tabindex = "1" })
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label">Country</label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(x => x.COUNTRY, Model.GetSelectListCountry, new { @class = "form-control form-control-sm", tabindex = "1" })
                                        @Html.ValidationMessageFor(model => model.COUNTRY, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label">Province</label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(x => x.PROVINCE, Model.GetSelectListProvince, new { @class = "form-control form-control-sm", tabindex = "1" })
                                        @Html.ValidationMessageFor(model => model.PROVINCE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label">City</label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(x => x.CITY, Model.GetSelectListCity, new { @class = "form-control form-control-sm", tabindex = "1" })
                                        @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(x => x.EMAIL, new { @class = "form-control form-control-sm", placeholder = "Email", tabindex = "1" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Website</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(x => x.WEBSITE, new { @class = "form-control form-control-sm", placeholder = "Website", tabindex = "1" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Postal Code</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(x => x.POSCODE, new { @class = "form-control form-control-sm", placeholder = "Postal Code", tabindex = "1" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary"><i class="icon fa-save" aria-hidden="true"></i> Save</button>
                                        <button type="button" class="btn btn-default waves-effect" onclick="location.href='@Url.Action("Index", "Company")';return false;"><i class="icon fa-remove" aria-hidden="true"></i> Close</button>
                                    </div>
                                </div>
                            </div>
                        }

                        @*<div style="height:1000px;"></div>*@

                    </div>
                    <div class="nav-tabs-horizontal" data-plugin="tabs" id="pnlcompanysite" style="background-color:#ffffff">
                        <ul class="nav nav-tabs nav-tabs-line">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#rotabs1">Company Site</a></li>
                        </ul>
                        <div class="tab-content" style="padding-bottom:15px">
                            <div class="tab-pane fade in active" id="rotabs1">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="m-b-15">
                                                <button id="addToTable" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "CompanySite", new { Company = Model.SID })';return false;" type="button">
                                                    <i class="icon md-plus" aria-hidden="true"></i> Add Row
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divcompanysite">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Footer1{
    <!-- Plugins -->
    <script src="~/global/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
    <script src="~/global/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/global/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/global/vendor/datatables-tabletools/dataTables.tableTools.js"></script>
    <script src="~/global/vendor/asrange/jquery-asRange.min.js"></script>
    <script src="~/global/vendor/bootbox/bootbox.js"></script>
    <script src="~/global/vendor/select2/select2.full.min.js"></script>
    <script type="text/javascript">
        //Get Company Site
        $.getJSON("../../Company/GetListCompanySite", { Company: @Model.SID },
            function (data) {
                var content = "";
                content = '<table class="table table-bordered table-hover table-striped" cellspacing="0" id="tbldata">';
                content += '<thead><tr>';
                content += '<th style="text-align:center;">Code</th>';
                content += '<th style="text-align:center;">Name</th>';
                content += '<th style="text-align:center;">Location</th>';
                content += '<th style="text-align:center;">Address</th>';
                content += '<th style="text-align:center;">Country</th>';
                content += '<th style="text-align:center;">Province</th>';
                content += '<th style="text-align:center;">City</th>';
                content += '<th style="text-align:center;">Action</th></tr></thead><tbody>';

                $.each(data, function (i, companysite) {
                    content += '<tr class="gradeA">';
                    content += '<td style="text-align:center;">' + companysite.IDCOMPANYSITE + '</td>';
                    content += '<td>' + companysite.COMPANYSITENAME + '</td>';
                    content += '<td>' + companysite.LOCATIONNAME + '</td>';
                    content += '<td>' + companysite.ADDRESS1 + '</td>';
                    content += '<td>' + companysite.COUNTRYNAME + '</td>';
                    content += '<td>' + companysite.PROVINCENAME + '</td>';
                    content += '<td>' + companysite.CITYNAME + '</td>';
                    content += '<td style="text-align:center;"><div class="SID" style="display:none;">' + companysite.SID + '</div><a href="#" type="button" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Edit"><i class="icon md-edit" aria-hidden="true"></i></a>';
                    content += '<a href="#" type="button" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row" data-toggle="tooltip" data-original-title="Remove"><i class="icon md-delete" aria-hidden="true"></i></a></td>';
                });

                content += '</tbody></table>';

                $('#divcompanysite').html(content);
                var dt = $('#tbldata').DataTable();

                $('#tbldata').on('click', 'a.edit-row', function (e) {
                    e.preventDefault();
                    var SID = $(this).closest('tr').find('.SID').html();
                    location.href = "../../CompanySite/Edit/" + SID;
                })

                $('#tbldata').on('click', 'a.remove-row', function (e) {
                    e.preventDefault();
                    var SID = $(this).closest('tr').find('.SID').html();
                    bootbox.dialog({
                        message: "Are you sure that you want to delete this row?",
                        title: "ARE YOU SURE?",
                        buttons: {
                            danger: {
                                label: "Confirm",
                                className: "btn-danger",
                                callback: function () {
                                    $.ajax({
                                        type: "POST",
                                        url: "/CompanySite/Delete",
                                        data: '{id: ' + SID + '}',
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (data) {
                                            console.log(data);
                                            if (data == "success")
                                                window.location.reload(false);
                                        }
                                    });
                                }
                            },
                            main: {
                                label: "Cancel",
                                className: "btn-primary",
                                callback: function () { }
                            }
                        }
                    });
                })
            });

         $("#COUNTRY").change(function () {
            var countryid = $('#COUNTRY').val() === "" ? 0 : $('#COUNTRY').val();
            $.getJSON('@Url.Action("GetProvinceByCountry", "Supplier")', { Country: countryid }, function (json) {
                $('#PROVINCE').empty();
                $('#PROVINCE').append($('<option>').text("--Select Province--").attr('value', ''));
                $.each(json, function (i, obj) {
                    $('#PROVINCE').append($('<option>').text(obj.PROVINCENAME).attr('value', obj.SID));
                });

                $('#PROVINCE').change();
            });
        })

        $("#PROVINCE").change(function () {
            var provinceid = $('#PROVINCE').val() === "" ? 0 : $('#PROVINCE').val();
            $.getJSON('@Url.Action("GetCityByProvince", "Supplier")', { Province: provinceid }, function (json) {
                $('#CITY').empty();
                $('#CITY').append($('<option>').text("--Select City--").attr('value', ''));
                $.each(json, function (i, obj) {
                    $('#CITY').append($('<option>').text(obj.CITYNAME).attr('value', obj.SID));
                });
            });
        })
    </script>
    <script>
        $("#COUNTRY").select2({ allowClear: true });
        $("#PROVINCE").select2({ allowClear: true });
        $("#CITY").select2({ allowClear: true });
    </script>
}

@section Footer2{
    <!-- Page -->
    <script src="~/global/js/Plugin/animate-list.js"></script>
    <script src="~/global/js/Plugin/panel.js"></script>
    <script src="~/assets/examples/js/layouts/panel-transition.js"></script>
    <script src="~/global/js/Plugin/datatables.js"></script>
    <script src="~/assets/examples/js/tables/datatable.js"></script>
    <script src="~/assets/examples/js/uikit/icon.js"></script>
    <script src="~/global/js/Plugin/select2.js"></script>
}

