<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-calable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>ePlantiS</title>
    <link rel="apple-touch-icon" href="~/Assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Assets/images/logo1.png">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Assets/css/site.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="~/Global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/Global/vendor/waves/waves.css">
    <link rel="stylesheet" href="~/Global/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="~/Global/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/Global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/Assets/examples/css/dashboard/v1.css">
    @RenderSection("Head", required:false)
    <!-- Fonts -->
    <link rel="stylesheet" href="~/Global/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="~/Global/fonts/brand-icons/brand-icons.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="~/global/fonts/font-awesome/font-awesome.css">
    <script src="~/Global/vendor/breakpoints/breakpoints.js"></script>
</head>
<body class="animsition dashboard">
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon md-more" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <img class="navbar-brand-logo" src="~/assets/images/logo.png" title="ePlantiS">
                <span class="navbar-brand-text hidden-xs-down"> ePlantiS</span>
            </div>
            <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
                    data-toggle="collapse">
                <span class="sr-only">Toggle Search</span>
                <i class="icon md-search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="nav-item hidden-float" id="toggleMenubar">
                        <a class="nav-link" data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    <li class="nav-item hidden-sm-down" id="toggleFullscreen">
                        <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                            <span class="sr-only">Toggle fullscreen</span>
                        </a>
                    </li>
                    <li class="nav-item hidden-float">
                        <a class="nav-link icon md-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
                           role="button">
                            <span class="sr-only">Toggle Search</span>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                           aria-expanded="false" role="button">
                            <span class="flag-icon flag-icon-us"></span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                <span class="flag-icon flag-icon-gb"></span> English
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                <span class="flag-icon flag-icon-id"></span> Indonesia
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="scale-up" role="button">
                            <span class="avatar avatar-online">
                                <img src="../../global/portraits/5.jpg" alt="...">
                                <i></i>
                            </span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Home")" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
                           aria-expanded="false" data-animation="scale-up" role="button">
                            <i class="icon md-notifications" aria-hidden="true"></i>
                            <span class="tag tag-pill tag-danger up">5</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <div class="dropdown-menu-header">
                                <h5>NOTIFICATIONS</h5>
                                <span class="tag tag-round tag-danger">New 5</span>
                            </div>
                            <div class="list-group">
                                <div data-role="container">
                                    <div data-role="content">
                                        <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left p-r-10">
                                                    <i class="icon md-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Event started</h6>
                                                    <time class="media-meta" datetime="2017-06-10T13:50:18+08:00">3 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left p-r-10">
                                                    <i class="icon md-comment bg-orange-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Message received</h6>
                                                    <time class="media-meta" datetime="2017-06-10T12:34:48+08:00">3 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-menu-footer">
                                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                                    <i class="icon md-settings" aria-hidden="true"></i>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                    All notifications
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
            <!-- Site Navbar Seach -->
            <div class="collapse navbar-search-overlap" id="site-navbar-search">
                <form role="search">
                    <div class="form-group">
                        <div class="input-search">
                            <i class="input-search-icon md-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="site-search" placeholder="Search...">
                            <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
                                    data-toggle="collapse" aria-label="Close"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Site Navbar Seach -->
        </div>
    </nav>
    <div class="site-menubar">
        <div class="site-menubar-body">
            @Html.Action("SideBar","Home")
        </div>
    </div>
    @RenderBody()
    <div class="site-menubar-footer">
        <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
           data-original-title="Settings">
            <span class="icon md-settings" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
            <span class="icon md-eye-off" aria-hidden="true"></span>
        </a>
        <a href="@Url.Action("Logout", "Home")" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
            <span class="icon md-power" aria-hidden="true"></span>
        </a>
    </div>
    

    <!-- Footer -->
    <footer class="site-footer">
        <div class="site-footer-legal">© 2017 Plantation</div>
        <div class="site-footer-right">
            Crafted with <i class="red-600 icon md-favorite"></i> by <a href="#">Plantation Team</a>
        </div>
    </footer>
    <!-- Core  -->
    <script src="~/Global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="~/Global/vendor/jquery/jquery.js"></script>
    <script src="~/Global/vendor/tether/tether.js"></script>
    <script src="~/Global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Global/vendor/animsition/animsition.js"></script>
    <script src="~/Global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/Global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="~/Global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <script src="~/Global/vendor/waves/waves.js"></script>
    <!-- Plugins -->
    <script src="~/Global/vendor/switchery/switchery.min.js"></script>
    <script src="~/Global/vendor/intro-js/intro.js"></script>
    <script src="~/Global/vendor/screenfull/screenfull.js"></script>
    <script src="~/Global/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="~/Global/vendor/chartist/chartist.min.js"></script>
    <script src="~/Global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>
    <script src="~/Global/vendor/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/Global/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Global/vendor/matchheight/jquery.matchHeight-min.js"></script>
    <script src="~/Global/vendor/peity/jquery.peity.min.js"></script>
    <!-- Scripts -->
    <script src="~/global/js/State.js"></script>
    <script src="~/global/js/Component.js"></script>
    <script src="~/global/js/Plugin.js"></script>
    <script src="~/global/js/Base.js"></script>
    <script src="~/global/js/Config.js"></script>
    <script src="~/assets/js/Section/Menubar.js"></script>
    <script src="~/assets/js/Section/GridMenu.js"></script>
    <script src="~/assets/js/Section/Sidebar.js"></script>
    <script src="~/assets/js/Section/PageAside.js"></script>
    <script src="~/assets/js/Plugin/menu.js"></script>
    <script src="~/global/js/config/colors.js"></script>
    <script src="~/assets/js/config/tour.js"></script>
    @RenderSection("Footer1", required: false)
    <script>
            Config.set('assets', '~/assets');
    </script>
    <!-- Page -->
    <script src="~/assets/js/Site.js"></script>
    <script src="~/global/js/Plugin/asscrollable.js"></script>
    <script src="~/global/js/Plugin/slidepanel.js"></script>
    <script src="~/global/js/Plugin/switchery.js"></script>
    <script src="~/global/js/Plugin/matchheight.js"></script>
    <script src="~/global/js/Plugin/jvectormap.js"></script>
    <script src="~/global/js/Plugin/peity.js"></script>
    @RenderSection("Footer2", required: false)
</body>
</html>
